<html>
<head>
   <title>File browser</title>

<style>
h1 {font-size: 16px;}
h2 {font-size: 14px;}
thead {font-size: 14px;}
td {padding: 4px;}
.error {background-color: red; color: black; font-weight: bold; border-radius: 4px; border: solid red 1px;}
.message {background-color: orange; border-radius: 4px;}

.ui_date_div::after {content: ""; clear: both; display: table;}
.ui_date_banner {background-color: #e0e0e0; border-radius: 5px; border-left: solid 5px; font-size: 120%; margin-top: 10px; margin-left: 5px; padding-left: 5px;}

.ui_tile {float: left; width: 250px; height: 250px; background-color: #e0e0e0; border-radius: 5px; margin: 5px; white-space: nowrap; text-align: center;}
.ui_tile_selected {background-color: #ffffa0;}
.ui_tile_align_span {display: inline-block; height: 100%; vertical-align: middle;}
.ui_thumbnail_img {vertical-align: middle;}

.ui_search {font-size: 120%; display: block; border: none; border-bottom: solid 1px #404040;}
.ui_search_feedback {font-style: italic; text-color: #ff8080;}

.ui_mode {font-size: 120%;}
.ui_mode_details {font-size: 120%}

.ui_tags_btn {font-size: 120%;}

.ui_tag_column {background-color: #a0a080; border-radius: 15px 0 0 15px; padding-left: 10px; font-size: 110%; font-weight: bold; padding-top: 10px;}
.ui_tag_search_column {background-color: #c0c0a0; border-radius: 0 15px 15px 0; padding-right: 15px; padding-top: 10px; font-size: 110%; width: 320px;}
.ui_tag_add_btn {font-size: 110%; padding: 5px 5px 5px 5px;}
.ui_tag_search {width: 100%; font-size: 120%;}
.ui_tag_suggestions_container {list-style: none; padding-left: 0; background-color: white; border: solid black 0 1px 1px 1px; margin: 0 2px 2px 2px;}
.ui_tag_suggestions {font-style: italic;}
.ui_tag_suggestions:hover {text-decoration: underline;}
.ui_tag_selected {list-style: none; padding-left: 0; background-color: orange; padding-left:10px; padding-right: 10px; border-radius: 10px; margin-right: 5px;}
.ui_tag_selected:hover {background-color: #a08080;}

.ui_msg_div {font-style: italic; font-weight: bold; padding: 3px;};
</style>

<script>

   const MIN_SEARCH_LENGTH = 3;

   let month_repr = {
      0: "Jan",
      1: "Feb",
      2: "Mar",
      3: "Apr",
      4: "May",
      5: "Jun",
      6: "Jul",
      7: "Aug",
      8: "Sep",
      9: "Oct",
      10: "Nov",
      11: "Dec"};

   // -------------------------------------------
   // UI helper fns

   function del_all_children(ui_ele) {
      while (ui_ele.firstChild) {
            ui_ele.removeChild(ui_ele.lastChild);
      }
   }

   // -------------------------------------------
   // UI fns

   function ui_element(typ, cls, handlers) {
      let node = document.createElement(typ);
      if (cls) {
         node.classList.add(cls);
      }
      if (handlers) {
         for (var event in handlers) {
            node.addEventListener(event, handlers[event]);
         }
      }
      return node;
   }

   function ui_link(url, cls=null) {
      let node = ui_element("a", cls);
      node.href = url;
      return node;
   }

   function ui_input_text(cls, handlers) {
      return ui_element("input", cls, handlers);
   }

   function ui_unordered_list(cls=null) {
      return ui_element("ul", cls);
   }

   function ui_list_item(cls=null, handlers) {
      return ui_element("li", cls, handlers);
   }

   function ui_button(text, handler, cls=null) {
      let node = ui_element("button", cls);
      node.innerHTML = text;
      node.addEventListener("click", handler);
      return node;
   }

   function ui_img(url, tooltip, cls=null) {
      let img = ui_element("img", cls);
      img.src = url;
      img.title = tooltip;
      return img;
   }

   function ui_div(content, cls, handlers) {
      let node = ui_element("div", cls, handlers);
      if (content) {
         node.appendChild(content);
      }
      return node;
   }

   function ui_br() {
      return ui_element("br", null);
   }

   function ui_span(cls, handlers) {
      return ui_element("span", cls, handlers);
   }

   function ui_text(txt) {
      let node = document.createTextNode(txt);
      return node;
   }

   // -------------------------------------------
   // Object definitions

   class Store {
      constructor() {
         this.fdata = [];
         this.section_by_date = {};

         this.ui = document.getElementById("ui_file_list");
      }

      count() {
         return this.fdata.length;
      }

      clear() {
         this.fdata = [];
         this.section_by_date = {};
         del_all_children(this.ui);

         let ui_showing_count = document.getElementById("ui_showingcount");
         del_all_children(ui_showing_count);
         ui_showing_count.appendChild(ui_div(ui_text(store.count())));
         mode.clear_selected();
      }

      new_tile(tile) {
         this.fdata.push(tile);
         let dt = tile.file_date;
         let section = this.section_by_date[dt];

         if (section === undefined) {
            section = new Section(this.ui, dt);
            this.section_by_date[dt] = section;
         }

         section.add_tile(tile);
      }
   }

   class Section {
      constructor(parent_ui, dt) {
         this.parent_ui = parent_ui;
         this.dt = dt; // date
         this.tiles = [];

         // Create UI
         let date_repr = month_repr[dt.getMonth()] + " " + dt.getDate() + ", " + dt.getFullYear();
         this.ui_date_banner = ui_div(ui_text(date_repr), "ui_date_banner");

         this.ui = ui_div(null, "ui_date_div");

         this.parent_ui.appendChild(this.ui);
         this.ui.appendChild(this.ui_date_banner);
      }

      add_tile(tile) {
         this.tiles.push(tile);
         tile.add_to_section(this);
      }
   }

   class Tile {
      constructor(data) {
         this.fname = data[0]; //fname;
         this.exif = data[6]; //exif;
         this.file_ts = data[8]; //file_ts;
         this.thumbnail = data[9]; //thumbnail;
         this.tags = data[10];

         // Sample input: 2022-01-03 20:19:03
         let dttm = this.file_ts.split(" ");
         let dtargs = dttm[0].split("-");
         this.file_date = new Date(dtargs[0] * 1, dtargs[1] * 1 - 1, dtargs[2] * 1);

         this.section = null;

         this._visible = null;
         this._selected = false;

         // Create UI
         this.ui = ui_div(null, "ui_tile");
         if (this.thumbnail == null) {
            // No thumbnail
            let ext = this.fname.split(".").pop().substr(0, 6).toLowerCase();
            let content = ui_div(ui_text(ext));
            content.appendChild(ui_br());
            content.appendChild(ui_text(this.fname));
            this.ui.appendChild(content);

         } else {
            // Has thumbnail
            let tooltip = this.fname;
            if (this.tags.length) {
               tooltip += "\n" + this.tags.join(", ");
            }
            tooltip += "\n" + this.exif["FileSize"] + " bytes";
            let content = ui_img("thumbnails/" + this.thumbnail,
                                 tooltip,
                                 "ui_thumbnail_img");
            content.style.pontierEvents = "none";
            let span = ui_span("ui_tile_align_span");
            this.ui.appendChild(content);
         }

         this.ui.tile = this;
         this.ui.addEventListener('click', function(ev) {
               var target = ev.target;
               while (target && !target.hasOwnProperty("tile")) {
                     target = target.parentElement;
               }
               if (!target) {
                  console.log("Not sure where the click happened");
                  return;
               }
               target.tile.click_event();
            });
      }

      click_event() {
         if (mode.value_browse()) {
            window.open("/get/" + this.fname);
         } else {
            this.toggle_selection();
         }
      }

      add_to_section(section) {
         this.section = section;
         section.ui.appendChild(this.ui);
      }

      visibility_set(val) {
         this._visibile = val;
      }

      visibility_toggle() {
         this.visibility_set(!this._visible);
      }

      // ----------------------------------------
      // Selection handling

      toggle_selection() {
         this._selected = !this._selected;
         this.handle_selected();
      }

      clear_selection() {
         this._selected = false;
         this.handle_selected();
      }

      handle_selected() {
         if (this._selected) {
            this.ui.classList.add("ui_tile_selected");
            mode.selection_add(this);
         } else {
            this.ui.classList.remove("ui_tile_selected");
            mode.selection_remove(this);
         }
      }
   }

   class Mode {
      constructor() {
         this.ui = document.getElementById("ui_mode");
         this.ui_details = document.getElementById("ui_mode_details");
         this.ui_selected_count = document.getElementById("ui_selected_count");
         this._value = null; // Browse, Modify
         this._selected = new Set(); // Set of selected tiles
         this.handle_change();
      }

      value_browse() { return this._value == "Browse"; }
      value_modify() { return this._value == "Modify"; }

      handle_change() {
         this._value = this.ui.value;
         console.log("Mode: " + this.ui.value);
         this.refresh();
      }

      refresh() {
         // TODO: tags pane doesn't remain visible after switching to browse and then back to select mode
         if (this.value_modify()) {
            document.getElementById("ui_tags_pane").style.display = "block";
            this.ui_selected_count.style.display = "block";
            del_all_children(this.ui_selected_count);
            this.ui_selected_count.appendChild(ui_text(" " + this._selected.size + " selected"));

         } else {
            document.getElementById("ui_tags_pane").style.display = "none";
            document.getElementById("ui_selected_count").style.display = "none";
         }
      }

      // ----------------------------------------
      // Selection handling

      handle_selected() {
         this.refresh();
      }

      clear_selected() {
         this._selected = new Set();
         this.handle_selected();
      }

      selection_add(tile) {
         this._selected.add(tile);
         this.handle_selected();
      }

      selection_remove(tile) {
         this._selected.delete(tile);
         this.handle_selected();
      }
   }

   class TagList {
      constructor(parent_ui) {
         this.parent_ui = parent_ui;
         this.MAX_SUGGESTIONS = 5;

         // Register add button handler
         document.getElementById("ui_add_tags_btn").onclick = this.add_tags_btn_click;

         this._search_tag = "";   // contents of current tag search bar
         this._selected = [];
         this._all_tags = [];

         this._add_query = null;

         this.ui = ui_div();
         this.ui.appendChild(this.ui_search_box = ui_input_text("ui_tag_search",
               {"input": this.search_tag_change,
                "keydown": this.search_tag_keydown}));
         this.ui_search_box.controller_obj = this;
         this.ui.appendChild(this.ui_suggestions = ui_unordered_list("ui_tag_suggestions_container"));
         this.ui.appendChild(this.ui_selected = ui_div(null));
         this.ui.appendChild(this.ui_msg_window = ui_div(null));

         this.parent_ui.appendChild(this.ui);
      }

      reset() {
         this._selected = [];
         this.refresh();
      }

      set_all_tags(tags) {
         this._all_tags = tags;
         this.refresh();
      }

      refresh() {
         del_all_children(this.ui_suggestions);
         del_all_children(this.ui_selected);

         // Show selected words
         for (var word of this._selected) {
            let li = ui_span("ui_tag_selected", {"click": this.selection_click});
            li.controller_obj = this;
            li.controller_word = word;
            li.appendChild(ui_text(word));
            this.ui_selected.appendChild(li);
         }

         var count = 0;
         // Show suggestions
         for (var word of this._all_tags) {
            if (this._selected.indexOf(word) > -1) {
               continue;
            }
            if (word.indexOf(this._search_tag) == -1) {
               continue;
            }
            let li = ui_list_item("ui_tag_suggestions", {"click": this.suggestion_click});
            li.controller_obj = this;
            li.controller_word = word;
            li.appendChild(ui_text(word));
            this.ui_suggestions.appendChild(li);
            ++count;
            if (count == this.MAX_SUGGESTIONS) {
               break;
            }
         }
      }

      add_tags_btn_click() {
         this._add_query = new AddTags();
      }

      // APIs

      suggestion_click(ev) {
         var selected_word = this.controller_word;
         var obj = this.controller_obj;
         obj.selection_add(selected_word);
         obj.ui_search_box.value = "";
         obj.search_tag_change_impl();
      }

      selection_click() {
         var selected_word = this.controller_word;
         var obj = this.controller_obj;
         obj.selection_del(selected_word);
      }

      selection_add(word) {
         if (word.length < 3) {
            return;
         }
         if (this._selected.indexOf(word) > -1) {
            return;
         }
         this._selected.push(word);
         this._selected.sort();
         this.refresh();
      }

      selection_del(word) {
         let i = this._selected.indexOf(word);
         if (i == -1) {
            return;
         }
         this._selected.splice(i, 1);
         this.refresh();
      }


      search_tag_change_impl() {
         this._search_tag = this.ui_search_box.value;
         this.refresh();
         this.ui_search_box.focus();
      }

      search_tag_change(ev) {
         let obj = this.controller_obj;
         obj.search_tag_change_impl();
      }

      search_tag_keydown(ev) {
         let obj = this.controller_obj;
         const text = this.value;
         if (ev.keyCode == 13 && text.length >= 3) {
            obj.selection_add(text);

            this.value = "";
            obj.search_tag_change_impl();
         }
      }
   }

   // -------------------------------------------
   // Network handling

   class HttpRequest {
      constructor(method) {
         this.method = method ? method : "GET";
         this.xmlHttp = new XMLHttpRequest();
         this.xmlHttp.querier_ = this;
         this.xmlHttp.onreadystatechange = this.onreadystatechange;
      }

      onreadystatechange() {
         if (this.readyState == 4 && this.status == 200) {
            let response_json = JSON.parse(this.responseText);
            this.querier_.handle_response_json(response_json);
         }
      }

      do_request(url, args) {
         if (this.method == "GET") {
            let args_str = "";
            for (let key in args) {
               let val = args[key];
               if (args_str) {
                  args_str += "&";
               }
               args_str += key + "=" + val;
            }
            this.xmlHttp.open("GET", url + "?" + args_str, true);
            this.xmlHttp.send(null);
         } else {
            this.xmlHttp.open("POST", url, true);
            this.xmlHttp.send(JSON.stringify(args));
         }
      }

      handle_response_json(response) {
         alert("JSON handler not overridden");
      }
   }

   class Query extends HttpRequest {
      constructor(search_text) {
         super();

         this.start = 0;   // Items to get start at this index
         this.count = 50; // Number of items to fetch from the server

         this.search_text = search_text;
         console.log("Searching for: " + search_text);

         this.last_query_start_at = null;
         this.do_request();
      }

      handle_response_json(response) {
         // Response can be:
         //
         //    ["ERROR", <str:explanation>]
         //
         //    [ [<str:fname>, <str:hash_sha256>,
         //       <ts:time_db_added>, <ts:time_db_updated>,
         //       <bool:deleted>, <txt:desc>,
         //       <json:exif>, <str:mime_type>,
         //       <ts:exif_img_create_date>, <str:thumbnail>],
         //      [...],
         //    ]
         //
         //    []  < No more data to send

         let ui_search_feedback = document.getElementById("ui_search_feedback");
         del_all_children(ui_search_feedback);
         if (response [0] == "ERROR") {
            response.shift(0);
            ui_search_feedback.appendChild(ui_text(response.join(" ")));
            return;
         }

         if (this.start == 0) {
            store.clear();
         }

         if (store.count() != this.start) {
            console.log("Items in store: " + store.count());
            console.log("this.start: " + this.start);
            alert("Something unexpected happened");
            return;
         }

         console.log("Response [" + this.start + ", " + (this.start + response.length) + "]");
         this.start += response.length;

         if (response.length == 0) {
            console.log("Reached the end");
            this.count = 0;
            return;
         }

         for (let fname in response) {
            let data = response[fname];
            store.new_tile(new Tile(data));
         }

         let ui_showing_count = document.getElementById("ui_showingcount");
         del_all_children(ui_showing_count);
         ui_showing_count.appendChild(ui_div(ui_text(store.count())));
      }

      do_request() {
         if (this.count == 0 || this.last_query_start_at == this.start) {
            return;
         }

         this.last_query_start_at = this.start;
         super.do_request("/db", {"start": this.start,
                                  "count": this.count,
                                  "search": this.search_text});
      }
   }

   class DbStats extends HttpRequest {
      constructor() {
         super();
         this.do_request();
      }

      handle_response_json(response) {
         // Response can be:
         //
         //    ["ERROR", <str:explanation>]
         //
         //    [<str:diskusage>,
         //     <int:filecount>]
         if (response[0] == "ERROR") {
            console.log(response);
            return;
         }

         let ui_upload_dir_du = document.getElementById("ui_upload_dir_du");
         del_all_children(ui_upload_dir_du);
         ui_upload_dir_du.appendChild(ui_div(ui_text(response[0])));

         let ui_filecount = document.getElementById("ui_filecount");
         del_all_children(ui_filecount);
         ui_filecount.appendChild(ui_div(ui_text(response[1] + " files")));
      }

      do_request() {
         super.do_request("/db-stats", {});
      }
   }

   class AllTags extends HttpRequest {
      constructor() {
         super();
         this.do_request();
      }

      handle_response_json(response) {
         //    ["ERROR", <str:explanation>]
         if (response[0] == "ERROR") {
            console.log(response);
            return;
         }

         add_tags_obj.set_all_tags(response);
      }

      do_request() {
         super.do_request("/tags", {});
      }
   }

   class AddTags extends HttpRequest {
      constructor() {
         super("POST");
         this.do_request();
      }

      handle_response_json(response) {
         //    ["ERROR", <str:explanation>]
         //    ["OKAY", <str:explanation>]

         obj_id_allocator++;

         //del_all_children(add_tags_obj.ui_msg_window);
         let msg_div = ui_div(ui_text(response[1]), "ui_msg_div");
         let obj_name = "msg_window_" + obj_id_allocator;
         msg_div.setAttribute("id", obj_name);
         setTimeout(function() {
            document.getElementById(obj_name).remove();
            }, 3000);
         add_tags_obj.ui_msg_window.appendChild(msg_div);

         if (response[0] == "OKAY") {
            // Success
            add_tags_obj.reset();
            all_tags_query = new AllTags();

            search.last_text = null; // hack
            search();
         }
      }

      do_request() {
         let data = {"add": add_tags_obj._selected, "fnames": []};
         for (let tile of mode._selected) {
            data["fnames"].push(tile.fname);
         }
         super.do_request("/update-tags", data);
      }
   }

   // -------------------------------------------
   // Global variables

   let store = null;
   let current_query = null;
   let db_stats_query = null;
   let mode = null;
   let add_tags_obj = null;
   let all_tags_query = null;
   let obj_id_allocator = 0;

   // -------------------------------------------
   // Entry points

   function init() {
      store = new Store();
      db_stats_query = new DbStats();
      add_tags_obj = new TagList(document.getElementById("ui_add_tags_pane"));
      mode = new Mode();
      all_tags_query = new AllTags();
      search();
   }

   function query_start(txt) {
      current_query = new Query(txt);
   }

   function query_more_hits() {
      if (!current_query) {
         return;
      }
      current_query.do_request();
   }

   function search() {
      let ui_search = document.getElementById("ui_search");
      let search_text = ui_search.value;
      let last_text = search.last_text;

      if (last_text != null && last_text.length < MIN_SEARCH_LENGTH) {
         last_text = "";
      }
      if (search_text.length < MIN_SEARCH_LENGTH) {
         search_text = "";
      }

      if (last_text == search_text) {
         return;
      }
     
      query_start(search_text);
      search.last_text = search_text;
   }

   // -------------------------------------------
   // Code to run when the page is loaded

   window.addEventListener('scroll', function (event) {
      let element = event.target;
      const tile_height = 300;
      if (window.innerHeight + window.scrollY >= document.body.offsetHeight - tile_height) {
         query_more_hits();
      }
   });

</script>
</head>

<body onload="init();">
   <!-- top bar -->
   <table width=100% border=0px>
      <tr>
         <td><h1>File Browser</h1></td>
         <td align=right> <!-- upload pane -->
            <form method="POST" enctype="multipart/form-data" action="/upload">
               <input type="file" name="files" multiple="" style="font-size: 120%;">
               <input type="submit" value="Upload" style="font-size: 120%;">
            </form>
         </td>
      </tr>
   </table>

   {% if error %}
   <p class="error">{{error}}</p>
   {% endif %}

   {% if message %}
   <p class="message">{{message}}</p>
   {% endif %}

   {% if failed_uploads %}
   <h2 class="error">Failed to upload ({{failed_upload_count}}) files</h2>
   <ul>
      {% for filename in failed_uploads %}
         <li>{{filename}}</li>
      {% endfor %}
   </ul>
   {% endif %}

   <!-- 2nd bar: the bar above file listing -->
   <table width=100%>
      <tr>
         <td valign="top" id="ui_showingcount"></td>
         <td valign="top">/</td>
         <td valign="top" id="ui_filecount"></td>

         <td valign="top" id="ui_upload_dir_du"></td>

         <td valign="top"><input type="text" id="ui_search" class="ui_search" placeholder="search..." oninput="search();"><label id="ui_search_feedback" class="ui_search_feedback"></label></td>

         <td id="ui_mode_details" class="ui_mode_details">
            <span id="ui_tags_pane">
               <table border=0 cellspacing=0>
                  <tr>
                     <td valign="top" align="right" class="ui_tag_column">
                        Tags
                        <br/>
                        <input type="button" value="Add" class="ui_tag_add_btn" id="ui_add_tags_btn">
                     </td>
                     <td id="ui_add_tags_pane" valign="top" class="ui_tag_search_column"></td>
                  </tr>
               </table>
            </span>


         </td>

         <td valign="top" id="ui_selected_count" class="ui_mode_details"></td>

         <td valign="top" align=right>
            <select id="ui_mode" onchange="mode.handle_change()" class="ui_mode">
               <option>Browse</option>
               <option>Modify</option>
            </select>
         </td>
      </tr>
   </table>

   <!-- file listing -->
   <div width="100%" id="ui_file_list"></div>

   <hr>

   {% if uploaded_files %}
   <h2>Uploaded</h2>
   {% endif %}
   <ul>
   {% for filename in uploaded_files %}
      <li>{{filename}}</li>
   {% endfor %}
   </ul>


</body>
</html>
