<html>
<head>
   <title>File browser</title>

<style>
h1 {font-size: 16px;}
h2 {font-size: 14px;}
thead {font-size: 14px;}
td {padding: 4px;}
.error {background-color: red; color: black; font-weight: bold; border-radius: 4px; border: solid red 1px;}
.message {background-color: orange; border-radius: 4px;}

.ui_date_div::after {content: ""; clear: both; display: table;}
.ui_date_banner {border-left: solid 5px; font-size: 120%; margin-top: 10px; margin-left: 5px; padding-left: 5px; border-top: solid 1px;}

.ui_tile {float: left; width: 250px; height: 250px; background-color: #e0e0e0; border-radius: 5px; margin: 5px; white-space: nowrap; text-align: center;}
.ui_tile_align_span {display: inline-block; height: 100%; vertical-align: middle;}
.ui_thumbnail_img {vertical-align: middle;}
</style>

<script>
   let store = {fdata: []};

   let max_imgs = 100;

   // Asynchronous request for all DB data
   let xmlHttp = new XMLHttpRequest();
   xmlHttp.onreadystatechange = function() {
      if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
         let jsdata = JSON.parse(xmlHttp.responseText);
         for (let fname in jsdata) {
            let data = jsdata[fname];
            store.fdata.push({
                  fname: data[0],
                  exif: data[6],
                  thumbnail: data[9],
                  fimgtime: data[8],
               });
         }
         refresh_tab_file_list();
      }
   }
   xmlHttp.open("GET", "/db", true);
   xmlHttp.send(null);

   let cmp_fdata_fn;

   // -------------------------------------------
   // UI helper fns

   function del_all_children(ui_ele) {
      while (ui_ele.firstChild) {
            ui_ele.removeChild(ui_ele.lastChild);
      }
   }

   // -------------------------------------------
   // fdata cmp fns

   function cmp_fdata_ele_imgtime_asc(ele1, ele2) {
      return ele1.fimgtime > ele2.fimgtime;
   }

   function cmp_fdata_ele_imgtime_desc(ele1, ele2) {
      return !cmp_fdata_ele_imgtime_asc(ele1, ele2);
   }

   cmp_fdata_fn = cmp_fdata_ele_imgtime_desc;

   // -------------------------------------------
   // fdata util fns
   function extract_date(date_time) {
      // Sample input: 2022:01:03 20:19:03-08:00
      let dt_tm = date_time.split(" ");
      return dt_tm[0];
   }

   // -------------------------------------------
   // UI fns
   function ui_link(url, cls=null) {
      let node = document.createElement("a");
      node.href = url;
      if (cls) {
         node.classList.add(cls);
      }
      return node;
   }

   function ui_img(url, tooltip, cls=null) {
      let img = document.createElement("img");
      img.src = url;
      img.title = tooltip;
      if (cls) {
         img.classList.add(cls);
      }
      return img;
   }

   function ui_div(content, cls=null) {
      let node = document.createElement("div");
      if (content) {
         node.appendChild(content);
      }
      if (cls) {
         node.classList.add(cls);
      }
      return node;
   }

   function ui_br() {
      return document.createElement("br");
   }

   function ui_span(cls=null) {
      let node = document.createElement("span");
      if (cls) {
         node.classList.add(cls);
      }
      return node;
   }

   function ui_text(txt) {
      let node = document.createTextNode(txt);
      return node;
   }

   function refresh_tab_file_list() {
      store.fdata.sort(cmp_fdata_fn);

      let ui_file_list = document.getElementById("ui_file_list");
      del_all_children(ui_file_list);

      let cur_date_div = null;
      let count = 0;
      for (const ele of store.fdata) {
         ++count;
         if (count > max_imgs) {
            break;
         }

         let ele_date = extract_date(ele.fimgtime);
         if (cur_date_div == null || cur_date_div.date != ele_date) {
            // big div that holds the date banner + thumbnail tiles
            cur_date_div = ui_div(null, cls="ui_date_div");
            cur_date_div.date = ele_date;
            ui_file_list.appendChild(cur_date_div);

            let ui_date_banner = ui_div(ui_text(ele_date), cls="ui_date_banner");
            cur_date_div.appendChild(ui_date_banner);
         }

         let link = ui_link("/get/" + ele.fname);
         if (ele.thumbnail[0] == "@") {
            let ext = ele.thumbnail.substr(2, 6).toLowerCase();
            let content = ui_div(ui_text(ext));
            content.appendChild(ui_br());
            content.appendChild(ui_text(ele.fname));
            link.appendChild(content);
         } else {
            let content = ui_img(ele.thumbnail, ele.fname + "\n" + ele.exif["FileSize"] + " bytes", "ui_thumbnail_img");
            link.appendChild(content);
         }
         let thumb = ui_div(null, cls="ui_tile");
         let span = ui_span(cls="ui_tile_align_span");
         thumb.appendChild(span);
         thumb.appendChild(link);
         cur_date_div.appendChild(thumb);
      }

      let ui_filecount = document.getElementById("ui_filecount");
      del_all_children(ui_filecount);
      ui_filecount.appendChild(ui_div(ui_text(store.fdata.length + " files")));

      let ui_upload_dir_du = document.getElementById("ui_upload_dir_du");
      del_all_children(ui_upload_dir_du);
      ui_upload_dir_du.appendChild(ui_div(ui_text("{{upload_dir_du}}")));
   }
</script>
</head>

<body>
   <table width=100% border=0px> <!-- top bar -->
      <tr>
         <td><h1>File Browser</h1></td>
         <td align=right> <!-- upload pane -->
            <form method="POST" enctype="multipart/form-data" action="/upload">
               <input type="file" name="files" multiple="">
               <input type="submit" value="Upload">
            </form>
         </td>
      </tr>
   </table>

   {% if error %}
   <p class="error">{{error}}</p>
   {% endif %}

   {% if message %}
   <p class="message">{{message}}</p>
   {% endif %}

   {% if failed_uploads %}
   <h2 class="error">Failed to upload ({{failed_upload_count}}) files</h2>
   <ul>
      {% for filename in failed_uploads %}
         <li>{{filename}}</li>
      {% endfor %}
   </ul>
   {% endif %}

   <!-- Bar above file listing -->
   <table>
      <tr>
         <td id="ui_upload_dir_du"></td>
         <td id="ui_filecount"></td>
      </tr>
   </table>

   <!-- file listing -->
   <div width="100%" id="ui_file_list">
   </div>

   <hr>

   {% if uploaded_files %}
   <h2>Uploaded</h2>
   {% endif %}
   <ul>
   {% for filename in uploaded_files %}
      <li>{{filename}}</li>
   {% endfor %}
   </ul>


</body>
</html>
